body {
    width: 1140px;
    margin: 0 auto;
}

#shop {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.item {
    height: 300px;
    width: 350px;
    background-color: brown;
    margin-bottom: 2%;
}

#bigPic {
    position: absolute;

}